{{#if addQuestion}}
<div class="panel panel-info">
  <div class="panel-heading">
    <h1>New Question:</h1>
  </div>
  <div class="panel-body">
    <div>
      <form>
        <div class="form-group">
        <label for="author">Author</label>
        {{input class="form-control" value=author id="author"}}
      </div>
        <div class="form-group">
        <label for="content">Question</label>
        {{input class="form-control" value=content id="content"}}
      </div>
      <div class="form-group">
        <label for="note">Notes</label>
        {{textarea class="form-control" rows="6" value=note id="note"}}
      </div>
      <div class="panel-footer">
        <button class="btn bg-info"{{action 'saveQuestion'}}>Ask!</button>
      </div>
      </form>
    </div>
  </div>
</div>


{{else}}
  <button class="btn bg-info"{{action 'questionFormShow'}}>Ask a Question</button>
{{/if}}
