<div class=" well">
  <div class="row">
    <div class="col-md-6">
      <h2>{{model.content}}</h2>
      <p>{{model.note}}</p>
      {{update-question question=model update="update" delete="delete" destroyAnswer="destroyAnswer"}}
      <h4>Reply to {{model.author}}</h4>
      {{new-answer saveAnswer="saveAnswer" question=model}}
    </div>
    <div class="col-md-6">
      <h4>Answers:</h4>
      <ul>
        {{#each model.answers as |answer|}}
          <li>{{answer.content}} --{{answer.author}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

</div>
